.table-space {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Comic Sans MS";
  padding: 15px;
}

.red-highlight {
  color: white;
  background: red;
}

.green-highlight {
  color: white;
  background: green;
}

.table-highlight {
  color: white;
  background: #3c598c;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* .blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
} */

@keyframes blink {
  to {
    background: red;
  }
}

.blink_me {
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
